nav a {
    padding: 0.7rem 1.4rem 0.7rem 1.4rem;
    background-color: #e9e7e4ba;
    border: 1px solid #353434;
    color: black;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    text-decoration: none;
    margin-right: 5px;
}
nav a:hover {
    background-color: #353434;
    color: white;
    animation: hover .5s ease-in-out;
}
nav {
    margin-top: 3%;
    margin-left: 6%;
}